<h1>Contact</h1>
<p class="lead">Pending</p>
<p>This will have a form in the future</p>
<ul>
<li>request.path_info = <%= request.path_info %></li>
<li>request.fullpath  = <%= request.fullpath %></li>
<li>request.url       = <%= request.url %></li>
<li>lang_uri          = <%= @lang_uri %></li>
</ul>
