<h1>Curriculum Vitae</h1>
<p class="lead">Administrador unix (Solaris, HP-UX, Linux, AIX) con
experiencia en Windows Server y VMware vSphere</p>
<h2>Resumen de competencias</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Software/Herramienta</th>
      <th>Cursos</th>
      <th>Experiencia</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Solaris</td><td>0</td><td>10 años</td></tr>
    <tr><td>Linux</td><td>0</td><td>8 años</td></tr>
    <tr><td>HP-UX</td><td>20 horas</td><td>6 años</td></tr>
    <tr><td>AIX</td><td>0</td><td>6 años</td></tr>
    <tr><td>Windows Server</td><td>3 meses</td><td>5 años</td></tr>
    <tr><td>VMware vSphere</td><td>20 horas</td><td>2 años</td></tr>
    <tr><td>HP Integrity VM</td><td>0</td><td>2 años</td></tr>
    <tr><td>Solaris LDOMs</td><td>0</td><td>2 años</td></tr>
  </tbody>
</table>
<h2>Experiencia</h2>
<h4>Accenture Outsourcing Services <small>2005-2011</small></h4>
<p>Administración de sistemas operativos en tres proyectos.</p>
<dl class="dl-horizontal">
  <dt>2009-2011</dt>
  <dd>Instalación, mantenimiento y soporte de sistemas operativos (HP-UX
  11.x, Solaris 8, 9, 10, AIX 5.x, Windows Server 2003, 2008, Linux),
  entornos de virtualización (Microsoft MyperV, VMware vSphere, Solaris
  Logical Domains, HP Integrity VM) y almacenamiento (EMC Clariion, Sun
  Storagetek, NetApp, HP EVA) en un equipo multicliente, dando servicio a
  entornos de producción y desarrollo. Resolución de problemas de cluster
  (HP ServiceGuard). Soporte de tercer nivel a varios proyectos de
  outsourcing de infraestructura. Colaboración con equipos off-shore.</dd>
  <dt>2007-2009</dt>
  <dd>Administración de sistemas operativos unix (AIX 5.2, 5.3, Solaris
  8, 9, 10, HP-UX 11.11, 11.23) en entornos de desarrollo para una
  multinacional de las telecomunicaciones. Implantación y gestión de
  herramientas de monitorización (Nagios, Cacti). Soporte de herramientas
  de desarrollo (compiladores C/C++, Tuxedo). Gestión del sistema de
  backup (Sun Storagetek Enterprise Backup System). Gestión de SAN (Sun
  Storagetek).</dd>
  <dt>2005-2009</dt>
  <dd>Administración de sistema operativo unix (AIX 5.1, HP/UX 11.11,
  Solaris 8, 10) para varios proyectos concurrentes de desarrollo de CRM.
  Soporte de primer nivel de Siebel.</dd>
</dl>
<h4>Colt Telecom España <small>2001-2005</small></h4>
<p>Soporte de segundo nivel en un centro de hosting y housing.
Resolución de incidencias de sistemas operativos (Solaris 7, 8, Windows NT
4.0 Server y Server 2000 y 2003), servicios web (iPlanet AS, WebLogic AS,
Oracle IAS) y bases de datos (Oracle Database, MS SQL Server). Operación
y mantenimiento de los entornos de backup (Veritas NetBackup, Veritas
BackupExec). Resolución de problemas y cambios de configuración de
sistemas de comunicaciones y seguridad (Cisco Catalyst, Secure PIX,
LocalDirector, Nokia IP/CheckPoint FireWall-1, HP ProCurve). Administración
de DNS (ISC BIND).</p>
<h4>Langre Ingenieros <small>2000-2001</small></h4>
<p>Instalación y mantenimiento de servidores SuSE Linux para PYMEs.
Administración de Samba y Mars NWE (emulador Netware). Administración de
Sendmail. Integración de autenticación con dominios Windows NT. Desarrollo
en C bajo Linux.</p>
<h2>Educación</h2>
<p>Técnico Superior en Administración de Sistemas Informáticos</p>
<h2>Certificaciones</h2>
<p>Sun Certified Systems Administrator - Solaris 9</p>
<h2>Formación Adicional</h2>
<ul>
  <li>Administración de Tuxedo</li>
  <li>Optimización y Rendimiento HP-UX</li>
  <li>Troubleshooting VMware vSphere 4</li>
</ul>
<h2>Aptitudes</h2>
<ul>
  <li>Inglés hablado y escrito a nivel alto (Level C1)</li>
  <li>Administración, instalación y resolución de problemas de sistemas
  operativos HP-UX (11.11, 11.21, 11.23), Solaris (7, 8, 9, 10), SuSE
  Linux Enterprise Server (6, 7, 10, 11), Ubuntu Server, Debian, Windows
  Server 2003.</li>
  <li>Administración y resolución de problemas de sistema operativo AIX
  (5.1, 5.2, 5.3), Windows Server 2008, RedHat Enterprise Linux 5.</li>
  <li>Instalación, administración y resolución de problemas de VMware
  vSphere 4, Solaris Logical Domains/Oracle VM Server for SPARC, HP
  Integrity Virtual Machines.</li>
  <li>Administración y resolución de problemas de Microsoft HyperV.</li>
  <li>Administración de Apache HTTP Server, Weblogic AS, iPlanet AS,
  Oracle IAS.</li>
  <li>Uso de herramientas de gestión de incidencias (Remedy ITSM,
  Rational ClearQuest, CA Service Desk Manager).</li>
  <li>Programación en C/C++ en entornos POSIX.</li>
  <li>Desarrollo de aplicaciones en Perl CGI.</li>
</ul>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovillo.pdf">PDF</a></p>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovilloExtendido.pdf">PDF Extendido</a></p>
