<div class="row text-center">
  <img src="/images/raulete.jpeg" alt="[Mi retrato]" width="96" height="96" />
</div>
<div itemscope itemtype="http://data-vocabulary.org/Person">
<h1>Acerca de mí</h1>
<p class="lead">¡Hola! Me llamo
<span itemprop="name">Raúl Pedroche</span>.
Encantado de conocerle. Soy
<span itemprop="title">administrador unix</span> y
aficionado a la programación web.</p>
<p>Tengo <a href="http://raulete.tumblr.com/"
title="Raulete's rants about technology and everything">un
blog</a> que actualizo muy de vez en cuando y un
<a href="https://twitter.com/#!/pedrocheisback"
title="Raúl Pedroche (pedrocheisback) in Twitter">feed de
Twitter</a> que actualizo algo más pero de ámbito
fundamentalmente personal.</p>
<p>Soy español. Nací en Zaragoza y me crié en Santander. Ahora
vivo en la capital,
<span itemprop="address" itemscope
itemtype="http://data-vocabulary.org/Address">
<span itemprop="locality">Madrid</span></span>.</p>
<p>Soy administrador de unix por formación, experiencia y
vocación. También sé algo de Windows Server y VMware.</p>
<p>Me confieso <em>fanboy</em> de Apple. Mis ordenadores son
Macintosh, salvo una estación de trabajo
<a href="http://en.wikipedia.org/wiki/Ultra_5/10"
  title="Ultra 5/10 - Wikipedia, the free encyclopedia">Sun Ultra 10</a>
que enciendo muy de vez en cuando (es terriblemente escandalosa).</p>
<p>Respecto a mis aficiones, me gustan la música (casi todos los
generos, sobre todo rock), el cine y la literatura.</p>
</div>
