<h1>About me</h1>
<div itemscope itemtype="http://data-vocabulary.org/Person">
<p class="lead">Hello! My name is
<span itemprop="name">Raúl Pedroche</span>. Pleased to meet you.
I am a <span itemprop="title">unix administrator</span>
with programming as a hobby.</p>
<p>I have <a href="http://raulete.tumblr.com/"
title="Raulete's rants about technology and everything">a
blog</a> that I do not update too much and
<a href="https://twitter.com/#!/pedrocheisback"
title="Raúl Pedroche (pedrocheisback) in Twitter">a
Twitter feed</a> that I update somewhat more but is of a
personal nature.</p>
<p>I am from Spain. I was raised in the northern coast, but
now I am living in the capital,
<span itemprop="address" itemscope
  itemtype="http://data-vocabulary.org/Address">
  <span itemprop="locality">Madrid</span></span>, in the
center of the Iberian peninsula.</p>
<p>I am an unix administrator by training, trade and vocation.
I am also quite knowledgeable about Windows Server and VMware vSphere.</p>
<p>It can be said I am an Apple fanboy: my
computers are Macintosh (besides a
<a href="http://en.wikipedia.org/wiki/Ultra_5/10"
title="Ultra 5/10 - Wikipedia, the free encyclopedia">Sun Ultra 10
workstation</a> I do not power on too often), I have an iPhone...</p>
<p>I suppose I have to talk about my hobbies. I am quite boring in
that respect. I read books (mostly science fiction, but not
exclusively), watch movies from time to time and listen to rock
music.</p>
</div>
