<div class="row text-center">
  <img src="/images/raulete.jpeg" alt="[My portrait]"/>
</div>
<h1>About me</h1>
<p class="lead">Hello! My name is Raúl Pedroche.  Pleased to meet you.
I am a unix administator with web programming as a hobby.</p>
<p>I like to be known by the handle "Pecio", but, truth be told,
nobody ever calls me that.</p>
<p>I have <a href="http://raulete.tumblr.com/"
title="Raulete's rants about technology and everything">a
blog</a> that I do not update too much and
<a href="https://twitter.com/#!/pedrocheisback"
title="Raúl Pedroche (pedrocheisback) in Twitter">a
Twitter feed</a> that I update somewhat more but is not
too thrilling to read.</p>
<p>I am from Spain. I was raised in the northern coast, but
now I am living in the capital, Madrid, in the center of the
Iberian peninsula.</p>
<p>I am an unix administrator by training, trade and vocation.
I am also quite knowledgeable about Windows Server and VMware vSphere.</p>
<p>It can be said I am an Apple fanboy: my
computers are Macintosh (besides a
<a href="http://en.wikipedia.org/wiki/Ultra_5/10"
title="Ultra 5/10 - Wikipedia, the free encyclopedia">Sun Ultra 10
workstation</a> I do not power on too
often) and I have an iPhone. Although I do not have plans of buying
an iPad (I have no use for it).</p>
<p>I suppose I have to talk about my hobbies. I am quite boring in
that respect. I read books (mostly science fiction, but not
exclusively), watch movies from time to time and listen to rock
music.</p>
