<h1>Curriculum Vitae</h1>
<p class="lead">Administrador de sistemas con más de 10 años de
experiencia en equipos multicliente de producción y entornos de
desarrollo</p>
<h2>Experiencia</h2>
<h4>atSistemas para IBM <small>2015-</small></h4>
<p>Técnico de Soporte global para un proyecto de Smart Cities.
Administración, configuración y resolucion de problemas de IBM
Intelligent Operations Center, administración de RHEL 6 sobre
z/VM, desarrollo SQL y tuning de IBM DB2, solución de problemas
y despliegue de aplicaciones en WebSphere Application Server
Network Deployment, administración de IBM MQ, diagnóstico y
resolución de problemas de Cognos BI, administración y desarrollo
de IBM WebSphere Message Broker, configuración de IBM HTTP
Server.</p>
<h4>atSistemas para IBM GTS <small>2015</small></h4>
<p>Miembro del equipo de Sistmas unix del grupo de explotación
del cliente Correos. Administración de AIX 5, 6 y 7.</p>
<h4>atSistemas para IBM GTS <small>2014-2015</small></h4>
<p>Coordinador de HP-UX en el equipo de ejecución (P2 Factory)
del proyecto Telefónica Paneuropean Midrange Transformation,
coordinando a otros 4 administradores de sistemas.
Traslado y virtualización de sistemas HP-UX 11i v3 de sedes
internacionales al centro de datos de Telefónica en
TecnoAlcalá.</p>
<h4>Accenture Outsourcing Services <small>2005-2011</small></h4>
<p>Labores de administración de sistemas operativos en tres proyectos.
Instalación, mantenimiento y soporte de sistemas operativos (Windows
Server, Linux, AIX, HP-UX, Solaris) y entornos de virtualización
(VMware vSphere, HP Integrity VM, Sun LDOMs) tanto en entornos de
producción como de desarrollo.</p>
<h4>Colt Telecom España <small>2001-2005</small></h4>
<p>Parte del equipo de soporte de segundo nivel en un centro de hosting
y housing. Resolución de incidencias de Solaris y Windows Server,
servidores de aplicación iPlanet, WebLogic y Oracle IAS y bases de datos
Oracle y SQL Server. Guardias telefónicas.</p>
<h4>Langre Ingenieros <small>2000-2001</small></h4>
<p>Instalación y mantenimiento de servidores SuSE Linux para PYMEs.
Configuración y administración de Samba y Sendmail.</p>
<h2>Estudios</h2>
<p>Técnico Superior en Administración de Sistemas Informáticos</p>
<ul>
  <li>Nivel alto de inglés hablado y escrito (CEFR C1)</li>
</ul>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovillo.pdf">PDF</a></p>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovillo.docx">DOCX</a></p>
