<h1>Resume</h1>
<p class="lead">Unix administrator with more than 10 years of
experience in multicustomer production teams and development
environments</p>
<h2>Experience</h2>
<h4>NTT Limited <small>2021-</small></h4>
<p>Cloud site Reliability Engineer. Technical support for
cloud deployments in AWS for several customers.</p>
<h4>Experis IT for IBM GTS <small>2017-2021</small></h4>
<p>Member of the unix Team and responsible for Ansible Tower in the
operations group for the Correos customer. Administration of Linux
(RHEL 6, 7, 8, SLES 9, 10, 11, 12), IBM AIX (5.3, 6.1, 7.1, 7.2),
IBM PowerHA (HACMP), Red Hat Cluster, IBM Spectrum Scale (GPFS), IBM
PowerVM. Process automation with shell and Ansible.</p>
<h4>atSistemas for IBM <small>2015-2017</small></h4>
<p>Global IT Support Technician por a Smart Cities project.
Administration, configuration and troubleshooting of IBM
Intelligent Operations Center, administration of RHEL 6 under
z/VM, SQL development and tuning of IBM DB2, troubleshooting and
application deployment on Websphere Application Server Network
Deployment, administration of IBM MQ, troubleshooting of Cognos
BI 10, administration and development on IBM WebSphere Message
Broker, configuration of IBM HTTP Server.</p>
<h4>atSistemas for IBM GTS <small>2015</small></h4>
<p>Member of the unix Team in the operations group for the
Correos customer. Administration of AIX 5.3, 6.1 and 7.1.</p>
<h4>atSistemas for IBM GTS <small>2014-2015</small></h4>
<p>HP-UX coordinator in the execution team (P2 Factory) for
the Telefónica Paneuropean Midrange Transformation project,
coordinating 4 other systems administrators.
Movement and virtualization of HP-UX 11i v3 systems from
international localtions to the Telefónica datacenter at
TecnoAlcalá.</p>
<h4>Accenture Outsourcing Services <small>2005-2011</small></h4>
<p>Operating System administration duties in three different projects.
Installation, maintenance and support of operating systems (Windows
Server, Linux, AIX, HP-UX, Solaris) and virtualization environments
(VMware vSphere, HP Integrity VM, Sun LDOMs) in both
production and development environments.</p>
<h4>Colt Telecom España <small>2001-2005</small></h4>
<p>Part of the second level support team in a hosting and
co-location center. Troubleshooting of Solaris and Windows Server,
iPlanet, WebLogic and Oracle IAS application servers and Oracle and
SQL Server databases. On call shifts.</p>
<h4>Langre Ingenieros <small>2000-2001</small></h4>
<p>Installation and maintenance of SuSE Linux servers for SMEs.
Configuration and administration of Samba and Sendmail.</p>
<h2>Education</h2>
<p>Técnico Superior en Administración de Sistemas Informáticos
(Post-Secondary Education on Computer Systems Administration)</p>
<ul>
  <li>High level of spoken and written English (CEFR C1)</li>
</ul>
<p class="lead hidden-print"><a href="/attachments/RaulPedrocheResume.pdf">PDF</a></p>
<p class="lead hidden-print"><a href="/attachments/RaulPedrocheResume.docx">DOCX</a></p>
