<h1>Resume</h1>
<p class="lead">Unix administrator with 10 years of experience in
multicustomer production teams and development environments.</p>
<h2>Experience</h2>
<h4>atSistemas for IBM<small>2014-</small></h4>
<p>HP-UX coordinator in the execution team (P2 Factory) for
the Telefónica Paneuropean Midrange Transformation project,
coordinating 4 other systems administrators.
Movement and virtualization of HP-UX 11i v3 systems from
international localtions to the Telefónica datacenter at
TecnoAlcalá.</p>
<h4>Accenture Outsourcing Services <small>2005-2011</small></h4>
<p>Operating System administration duties in three different projects.</p>
<dl class="dl-horizontal">
  <dt>2009-2011 &mdash; IO Madrid Delivery Center (internal department)</dt>
  <dd>Installation, maintenance and support of operating systems
  virtualization environments as part of a multicustomer team. On call
  shifts, collaboration with offshore teams, off hours maintenance work.
  Collaboration in the movement of Accenture's data center in Madrid.</dd>
  <dt>2007-2009 &mdash; Telefónica (Proyecto Apolo)</dt>
  <dd>Administration of unix development environments. Collaboration
  with local and offshore development teams, backup and monitorization
  management.</dd>
  <dt>2005-2009</dt>
  <dd>Administration of unix development environments shared between
  four CRM projects for Telecoms in Europe and India. Off hours
  maintenance work, on call shifts. Collaboration with customer
  facing teams.</dd>
</dl>
<h4>Colt Telecom España <small>2001-2005</small></h4>
<p>Part of the second level support team in a hosting and
co-location center. Troubleshooting of Solaris and Windows Server,
iPlanet, WebLogic and Oracle IAS application servers and Oracle and
SQL Server databases. On call shifts.</p>
<h4>Langre Ingenieros <small>2000-2001</small></h4>
<p>Installation and maintenance of SuSE Linux servers for SMEs.
Configuration and administration of Samba and Sendmail.</p>
<h2>Education</h2>
<p>Técnico Superior en Administración de Sistemas Informáticos
(Post-Secondary Education on Computer Systems Administration)</p>
<h2>Skill summary</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Software/Tool</th>
      <th>Courses</th>
      <th>Experience</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>HP-UX</td><td>20 hours</td><td>6 years</td></tr>
    <tr><td>HP Integrity VM</td><td>0</td><td>2 years</td></tr>
    <tr><td>Solaris</td><td>0</td><td>10 years</td></tr>
    <tr><td>Linux</td><td>0</td><td>8 years</td></tr>
    <tr><td>AIX</td><td>0</td><td>6 years</td></tr>
    <tr><td>VMware vSphere</td><td>20 hours</td><td>2 years</td></tr>
    <tr><td>Solaris LDOMs</td><td>0</td><td>2 years</td></tr>
  </tbody>
</table>
<ul>
  <li>High level of spoken and written English (CEFR C1)</li>
  <li>Driver license and own vehicle</li>
</ul>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovillo.pdf">Spanish PDF</a></p>
<p class="lead hidden-print"><a href="/attachments/CVRaulPedrocheNovillo.docx">Spanish DOCX</a></p>
