body {
  font-family: Georgia, Times, serif;
  text-align: justify;
  background-color: #124;
  color: #ee9;
  padding-left: 4em;
  padding-right: 4em;
  max-width: 800px;
}

a {
  color: #db4;
}

img.portrait {
  float: right;
  margin-left: 2em;
}

a.map {
  float: left;
  margin-right: 2em;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #ee9;
  border-bottom: 1px solid #ee9;
  padding-left: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#124), to(#345));
  background: -moz-linear-gradient(top, #124, #345);
  background-image: -ms-linear-gradient(top, #124 0%, #345 100%);
  background-image: linear-gradient(top, #124 0%, #345 100%);
}
