body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  opacity: 0;
}

.starter-template p {
  text-align: left;
}

.starter-template p.lead {
  text-align: center;
}

.starter-template h1 {
  text-align: center;
}

.navbar-brand {
  font-family: 'EB Garamond', Garamond, serif;
  line-height: 24px;
}

.dl-horizontal dt {
  margin-right: 1em;
  width: 20em;
  text-align: left;
}

.dl-horizontal dd {
  margin-left: 21em;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, white 0px, #333 4px, #333 46px, black 50px);
}

@media print {
  .starter-template {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  body {
    padding-top: 0;
  }

  h2, .h2 {
    font-size: 20px;
  }

  h4, .h4 {
    font-size: 16px;
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 0;
    page-break-after: avoid;
  }

  .lead {
    font-size: 16px;
  }

  td {
    padding: 1px;
  }

  .starter-template p {
    text-align: justify;
  }
}
