body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.starter-template p {
  text-align: justify;
}

.starter-template p.lead {
  text-align: center;
}

.starter-template h1 {
  text-align: center;
}

.navbar-brand {
  font-family: 'EB Garamond', serif;
}

.dl-horizontal dt {
  margin-right: 1em;
  width: auto;
}

.dl-horizontal dd {
  margin-left: 0;
}
